* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
}
  
  .pageContainer {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
  }

  .textContainer {
    width: 30%;
    margin-top: 19%;
  }

  .formContainer {
    width: 600px;
  }

  .inviteContainer {
    width: 50%;
  }

  .coverImage {
    height: 700px;
    width: 1000px;
  }

  .letterImage {
    height: 700px;
    width: 800px;
  }
  
  .coverContainer {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 1100px;
    margin-left: 20px;
  }

  .shopImage {
    display: flex;
    width: 800px;
  }

  .guestImage {
    height: 650px;
    width: 700px;
  }

  .mt-1 {
    color: rgb(44, 44, 91);
    font-size: 50px;
    font-weight: 800;
  }
  
  .titlePage {
    font-weight: 700;
    font-size: 20px;
    margin-left: -10px;
    color: rgb(44, 44, 91);
  }

  .titleContainer {
    display: flex;
  }

  .profileContainer {
    display: flex;
  }

  .headerContainer {
    display: flex;
    padding-left: 20px;
    margin-top: 50px;
    justify-content: space-between;
  }

  .iconImage {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: -15px;
  }

  .iconUser {
    display: flex;
    width: 45px;
    height: 25px;
    margin-top: 10px;
  }

  .nav-pills > li > a,
  .nav-pills > li > a:hover {
    font-weight: 600;
    color:  rgb(44, 44, 91);
  }

  .nav-pills > li > a.active {
    background-color: #EA4C88 !important;
  }

  .btn:hover {
    background-color: #b84d76 !important;
  }

  .garbageIcon {
    display: flex;
    width: 40px;
    height: 20px;
    position: relative;
    top: -3px;
    left: 120px;
  }